h1 {
    color:black;
    font-family:sans-serif;
    font-weight: 600;
    font-size:150%;
}
p  {
    color:black;
    font-family:sans-serif;
    font-weight: 500;
    font-size:125%;
}


body {
  background: url(http://prod.static.broncos.clubs.nfl.com/nfl-assets/img/gbl-ico-team/DEN/logos/home/large.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
