
.crazy-color {
  color: fuchsia;
}

#content {
  width: 600px;
  background: white ;
  border: 5px solid black;
  padding: 20px; /* Adds 20px of space to all sides */
  margin: 20px auto;  /* Adds 20px to the top & bottom & centers left/right */
}

body {
    background-image: url(https://teoteodora1048.files.wordpress.com/2014/01/great-mountains-mountains-and-waterfalls-9842020-1920-1440.jpg);
    background-repeat: no-repeat;

}

img {
  width: 100px;
  float: left;
  margin: 10px;
}

#footer {
  height: 20px;
  width: 600px;
  margin: auto;
  background: #336699;
  color: #fff;
  border: 10px solid yellow;
  padding: 20px;
}