
.crazy-color {
  color: fuchsia;
}

body {
  background: url(http://upload.wikimedia.org/wikipedia/commons/2/2b/GoraBeluha.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box1 {
	font-color: orange;
  font-style: arial;
  width: 300px;
  background: #fff;
}

#box2 {
	font-color: blue;
  font-style: arial;
  width: 300px;
  background: #fff;
}
#content {
  width: 600px;
  background: #fff;
  border: 5px solid black;
  padding: 20px 10px 20px 5px; /* T: 15px, R: 10px, B: 20px, L: 5px*/
  margin: 20px auto 5px;  /* T: 20px, R: auto, B: 5px, L: auto */
}

